psycopg2-binary>=2.9.3
flask
git+https://github.com/adbenitez/simplebot_downloader@master#simplebot-downloader
git+https://github.com/adbenitez/simplebot_instantview@master#simplebot-instantview
git+https://github.com/adbenitez/simplebot_translator@master#simplebot-translator
git+https://github.com/adbenitez/simplebot_memes_es@master#simplebot-memes-es
# required by youtube.py plugin
youtube-dl
pyTelegramBotAPI
# required by admin.py plugin
psutil

